/* Color Theme

Eerie Black - #171616
Jet - #303030
Light Gray - #d3d3d3
Light Cobalt Blue - #85b5dc
White - #ffffff */

body {
    padding-top: 87px;
    font-family: 'Raleway', sans-serif;
}

body a:hover {
    color: black;
}

a {
    color: #85b5dc;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

i {
    font-size: 2.5rem;
    color: #85b5dc;
}

i:hover {
    color: white;
}

.breadcrumb {
    background-color: #85b5dc;
}

.breadcrumb-item a {
    color: #171616;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: white;
}

.breadcrumb-item.active {
    color: #171616 !important;
}

.nav-item.active {
    color: #85b5dc;
}

.navbar-custom {
    background-color: #171616;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-custom a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.75rem;
    color: #d3d3d3;
}

.navbar-custom a:hover {
    color: white;
}

.pageContent {
    padding-top: 30px;
    background-color: #d3d3d3;
}

.homeCards {
    background-color: #85b5dc;
}

.footer-custom {
    background-color: #171616;
}

.footer-split {
    display: flex;
    justify-content: space-between;
    color: #d3d3d3;
}

.footer-right {
    text-align: center;
}

.footer-right a {
    font-size: 0.8rem;
}

.footer-right a:hover {
    text-decoration: none;
    color: white;
}

.footer-right a:active {
    text-decoration: none;
    color: white;
}