/* css file for /logo/ */

html {
    background-image: url("opt-320/logo-blk-alltrans.png");
    background-size: 20%;
    background-color: #85b5dc;
}

h1 {
    color: #d3d3d3;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #171616;
}

img {
    padding-bottom: 5px;
}

a {
    font-size: 1.5rem;
    color: white;
}

a:hover {
    color: #85b5dc;
}

footer {
    color: #d3d3d3;
    background-color: #171616;
    font-size: 0.65rem;
    padding-top: 20px;
    padding-bottom: 5px;
}

.darkify {
    background-color: #303030;

}

.tinify {
    font-size: 70%;
}

.scootch {
    padding-left: 20px;
}

.last {
    padding-bottom: 15px;
}